@import url('https://fonts.googleapis.com/css2?family=Acme&family=Gloock&family=Outfit:wght@300;400;600&display=swap');

body{
margin: 0; 
padding: 0;
background-color:#14213D;
color: #E5E5E5;
font-family: 'Acme', sans-serif;
}
.title{
  font-weight: 600;
  font-size: 55px;
  left: 100px;
  position: fixed;
}

.landing-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  margin: 0 auto;
  max-width: 1000px;
  margin-bottom: 100px;
  margin-top:0px;
}
.SingularGrid {
  margin: 5px;
  width: 40%;
  height: 40%;
  
} 
.SingularGrid img {
  width: 80%;
  max-width: 80%;
  height: auto;
  border-radius: 10%;
}

.item-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #847996;
  box-shadow: #14213D 0px 0px 20px 4px;
  contain: content;
}
.add-to-cart-button{
  contain: content;
  bottom: 10px;
  left: 82px;
  position: absolute;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  border-radius: 40%;
  background-color: #14213D;
  color: aliceblue;
}
.add-to-cart-button:hover{
  box-shadow: #14213D 0px 0px 20px 4px;
  transition: ease-in 0.3ms;
  transform: scale(1.1);
  background-color: aliceblue;
  color: #14213D;
}

.title {
display: block;
}

input{
width: 280px;
height: 20px;
}
input::after

.dropdown{
height: 27px;
cursor: pointer;
background-color:#847996;
border-radius: 5px;
}
.dropdown:hover{
  box-shadow: #14213D 0px 0px 20px 4px;
  transition: ease-in 0.3ms;
  transform: scale(1.1);
}

.search {
display: flex;
flex-direction: row;
justify-content: center;
margin: 30px;
gap: 20px;
margin-bottom: 60px;
padding: 0;
cursor: pointer;
border-radius: 5px;
}


.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color:#847996;
  /* 847996 88B7B5*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1; 
  /* z index added to stop items going over the nav bar when you scroll down */
}
.cart {
  position: absolute;
  top: 10px;
  right: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: orange;
  cursor: pointer;
}
.cart:hover{
  box-shadow: #14213D 0px 0px 20px 4px;
  transition: ease-in 0.3ms;
  /* enlarge */
  transform: scale(1.1);
}

.dark-mode-btn{
  position: fixed;
  align-items: center;
  justify-content: center;
  right: 5%;
  display: flex;
  grid-column: inherit;
  cursor: pointer;
}

.dark-mode-btn:hover{
  box-shadow: #14213D 0px 0px 20px 4px;
  transition: ease-in 0.3ms;
  transform: scale(1.1);
}