body{
margin: 0; 
Padding: 0;
background-color:#14213D;
color: #E5E5E5;
}


.landing-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  margin: 0 auto;
  max-width: 1000px;
  margin-bottom: 100px;
  margin-top:0px;
}
.SingularGrid {
  margin: 5px;
  width: 40%;
  height: 40%;
  
} 
.SingularGrid img {
  width: 80%;
  max-width: 80%;
  height: auto;
  border-radius: 10%;
}

.title {
display: block;
}

input{
width: 280px;
height: 20px;
}

.dropdown{
height: 27px;

}

.search {
display: flex;
flex-direction: row;
justify-content: center;
margin: 30px;
gap: 20px;
margin-bottom: 60px;
padding: 0;
}

.navbar {
  z-index: 1; 
  position: sticky; 
  background-color:#E4572E;
  height: 70px;
  width: 100%;
}
